<nav class="desktop">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Itinerary", itinerary_path %>
			<ul class="drop-menu menu-2">
				<li><%= link_to "Day 1 - USA/Iceland", day1_path %></li>
				<li><%= link_to "Day 2 - Iceland/Frankfurt", day2_path %></li>
				<li><%= link_to "Day 3 - Leipzig", day3_path %></li>
				<li><%= link_to "Day 4 - Bacharach", day4_path %></li>
				<li><%= link_to "Day 5 - Colmar", day5_path %></li>
				<li><%= link_to "Day 6 - Burgundy", day6_path %></li>
				<li><%= link_to "Day 7 - Versailles/Paris", day7_path %></li>
				<li><%= link_to "Day 8 - Iceland/USA", day8_path %></li>
			</ul>
		</li>
		<li><%= link_to "Gallery", gallery_path %>
			<ul class="drop-menu menu-3">
				<li><%= link_to 'France', france_path %></li>
				<li><%= link_to 'Germany', germany_path %></li>
				<li><%= link_to 'Iceland', iceland_path %></li>
			</ul>
		</li>
	</ul>
</nav>