<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Itinerary", itinerary_path %>
			<ul class="drop-menu menu-2">
				<li><%= link_to "Day 1", day1_path %></li>
				<li><%= link_to "Day 2", day2_path %></li>
				<li><%= link_to "Day 3", day3_path %></li>
				<li><%= link_to "Day 4", day4_path %></li>
				<li><%= link_to "Day 5", day5_path %></li>
				<li><%= link_to "Day 6", day6_path %></li>
				<li><%= link_to "Day 7", day7_path %></li>
			</ul>
		</li>
		<li><%= link_to "Gallery", gallery_path %>
			<ul class="drop-menu menu-3">
				<li><%= link_to 'France', france_path %></li>
				<li><%= link_to 'Germany', germany_path %></li>
				<li><%= link_to 'Iceland', iceland_path %></li>
			</ul>
		</li>
	</ul>
</nav>