<div class="timeline">
	<div class="timelinenav">
		<ul>
			<li class="sidenav"><%= link_to "Day 1 - USA/Iceland", :"data-turbolinks" => false, day1_path %>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Travel to Airport</a></li>
					<li><a href="#activity2" data-turbolinks="false">Arrive at Airport</a></li>
					<li><a href="#activity3" data-turbolinks="false">Fly to Iceland</a></li>
				</ul>
			</li>
			<li><%= link_to "Day 2 - Iceland/Frankfurt", day2_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Fly to Frankfurt</a></li>
					<li><a href="#activity2" data-turbolinks="false">Travel to Hotel</a></li>
				</ul>
			<li><%= link_to "Day 3 - Leipzig", day3_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
					<li><a href="#activity2" data-turbolinks="false">Travel to Train Station</a></li>
					<li><a href="#activity3" data-turbolinks="false">Travel to Fulda</a></li>
					<li><a href="#activity4" data-turbolinks="false">Travel to Leipzig</a></li>
					<li><a href="#activity5" data-turbolinks="false">Travel to Hotel</a></li>
					<li><a href="#activity6" data-turbolinks="false">Travel to Lunch</a></li>
					<li><a href="#activity7" data-turbolinks="false">Travel to Monument</a></li>
					<li><a href="#activity8" data-turbolinks="false">Travel to Hotel</a></li>
					<li><a href="#activity9" data-turbolinks="false">Walk to Stasi Museum</a></li>
					<li><a href="#activity10" data-turbolinks="false">Walk to Bach Museum</a></li>
					<li><a href="#activity11" data-turbolinks="false">Walk to St. Thomas Church</a></li>
					<li><a href="#activity12" data-turbolinks="false">Walk to Dinner</a></li>
					<li><a href="#activity13" data-turbolinks="false">Walk to Hotel</a></li>
					<li><a href="#activity14" data-turbolinks="false">Taxi to Hotel</a></li>
				</ul>
			<li><%= link_to "Day 4 - Bacharach", day4_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
					<li><a href="#activity2" data-turbolinks="false">Travel to Frankfurt</a></li>
					<li><a href="#activity3" data-turbolinks="false">Travel to Bacharach</a></li>
					<li><a href="#activity4" data-turbolinks="false">Walk to Frau Orth's Zimmer</a></li>
				</ul>
			<li><%= link_to "Day 5 - Burgundy", day5_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
					<li><a href="#activity2" data-turbolinks="false">Travel to Mainz</a></li>
					<li><a href="#activity3" data-turbolinks="false">Travel to Karlsruhe</a></li>
					<li><a href="#activity4" data-turbolinks="false">Travel to Strasbourg</a></li>
				</ul>
			<li><%= link_to "Day 6 - Paris", day6_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
				</ul>
			<li><%= link_to "Day 7 - Iceland", day7_path %></li>
				<ul>
					<li><a href="#activity1" data-turbolinks="false">Breakfast</a></li>
				</ul>
		</ul>
	</div><!--.timelinenav-->
</div><!--.timeline-->
