<div class="timeline">
	<div class="timelinenav">
		<ul>
			<li><%= link_to "Day 1 - USA/Iceland", day1_path %></li>
				<ul>
					<li><a href="#activity1">Travel to Airport</a></li>
					<li><a href="#activity2">Arrive at Airport</a></li>
					<li><a href="#activity3">Fly to Iceland</a></li>
				</ul>
			<li><%= link_to "Day 2 - Iceland/Frankfurt", day2_path %></li>
				<ul>
					<li><a href="#activity1">Fly to Frankfurt</a></li>
					<li><a href="#activity2">Travel to Hotel</a></li>
				</ul>
			<li><%= link_to "Day 3 - Leipzig", day3_path %></li>
				<ul>
					<li><a href="#activity1">Breakfast</a></li>
					<li><a href="#activity2">Travel to Train Station</a></li>
					<li><a href="#activity3">Travel to Fulda</a></li>
					<li><a href="#activity4">Travel to Leipzig</a></li>
					<li><a href="#activity5">Travel to Hotel</a></li>
					<li><a href="#activity6">Travel to Lunch</a></li>
					<li><a href="#activity7">Travel to Monument</a></li>
					<li><a href="#activity8">Travel to Hotel</a></li>
					<li><a href="#activity9">Walk to Stasi Museum</a></li>
					<li><a href="#activity10">Walk to Bach Museum</a></li>
					<li><a href="#activity11">Walk to St. Thomas Church</a></li>
					<li><a href="#activity12">Walk to Dinner</a></li>
					<li><a href="#activity13">Walk to Hotel</a></li>
					<li><a href="#activity14">Taxi to Hotel</a></li>
				</ul>
			<li><%= link_to "Day 4 - Bacharach", day4_path %></li>
				<ul>
					<li><a href="#activity1">Breakfast</a></li>
					<li><a href="#activity2">Travel to Frankfurt</a></li>
					<li><a href="#activity3">Travel to Bacharach</a></li>
					<li><a href="#activity4">Walk to Frau Orth's Zimmer</a></li>
				</ul>
			<li><%= link_to "Day 5 - Burgundy", day5_path %></li>
				<ul>
					<li><a href="#activity1">Breakfast</a></li>
					<li><a href="#activity2">Travel to Mainz</a></li>
					<li><a href="#activity3">Travel to Karlsruhe</a></li>
					<li><a href="#activity4">Travel to Strasbourg</a></li>
				</ul>
			<li><%= link_to "Day 6 - Paris", day6_path %></li>
				<ul>
					<li><a href="#activity1">Breakfast</a></li>
				</ul>
			<li><%= link_to "Day 7 - Iceland", day7_path %></li>
				<ul>
					<li><a href="#activity1">Breakfast</a></li>
				</ul>
		</ul>
	</div><!--.timelinenav-->
</div><!--.timeline-->